<h1>Races</h1>
<table summary = "Available Races">
    <tr>
        <th>Race</th>
        <th>Ability Score</th>
        <th>Maximum Age</th>
        <th>Weight</th>
        <th>Alignment</th>
        <th>Size</th>
        <th>Speed</th>    
        <th>Languages</th>
        <th>Dark Vision</th>
        <th>Weapon Profiencies</th>
        <th>Profiencies</th>
        <th>Extra Ablities</th>
       
    </tr>
    <% @races.each do |race| %>
    <tr>
        <td><%= race.name%></td>
        <td><%= race.abilityScore%></td>
        <td><%= race.maxAge%></td>
        <td><%= race.weight%></td>
        <td><%= race.alignment%></td>
        <td><%= race.size%></td>
        <td><%= race.speed%></td>
        <td><%= race.language1%> ,  <%= race.language2%> , <%= race.language3%></td>
        <td><%= race.darkVision%></td>
        <td><%= race.weaponProf%></td>
        <td><%= race.prof%></td>
        <td><%= race.extraAbility1%>, <%= race.extraAbility2%>, <%= race.extraAbility3%>, <%= race.extraAbility5%>,<%= race.extraAbility5%></td>
    
    </tr>
    <% end %>
    
</table>