<%= form_for @character do |f| %>  
<p>
    <%= f.label :name %> 
    <%= f.text_field :name %> <br>
    <%= f.label :job %> <br>
    <%= f.label :race %>
</p>

<p>     
<%= f.submit %>   
</p>  
<% end %>


