<table>
    <tr>
        <td><% if current_user %>
            <% if current_user.id == @character.user_id %>
                <%= link_to 'Edit', edit_character_path(@character) %>
        </td>
        <td>
                <%= link_to 'Delete', character_path(@character),
                              method: :delete,
                              data: { confirm: 'Are you sure?' } %>
            <% end %>
            <% end %>
        </td>
    </tr>
</table>

<p>
    <strong>Name:</strong>
    <%= @character.name %><br>
    <strong>HP:</strong>
    <%= @character.hp %><br>
    <table style="width:100%">
  <tr>
    <th></th>
    <th>Strength</th>
    <th>Dexterity</th> 
    <th>Constitution</th>
    <th>Intelligence</th>
    <th>Wisdom</th>
  </tr>
  <tr>
    <td><strong>Amount</strong></td>
    <td><%= @character.strength %></td>
    <td><%= @character.dexterity  %></td>
    <td><%= @character.constitution %></td>
    <td><%= @character.intelligence  %></td>
    <td><%= @character.wisdom %></td>
  </tr>
  <tr>
    <td><strong>Modifier</strong></td>
    <td><%= @character.strengthMod %></td>
    <td><%= @character.dexterityMod  %></td>
    <td><%= @character.constitutionMod %></td>
    <td><%= @character.intelligenceMod  %></td>
    <td><%= @character.wisdomMod %></td>
  </tr>
</table>
    <strong>Strength:</strong>
     <br>
    <strong>Dexterity:</strong>
     <br>
    <strong>Constitution:</strong>
    <br>
    <strong>Intelligence:</strong>
     <br>
    <strong>Wisdom:</strong>
   <br>
    <strong>Ability Score:</strong>
    <%= @character.abilityScore %> <br>
    <strong>Age:</strong>
    <%= @character.maxAge %> <br>
    <strong>Weight:</strong>
    <%= @character.weight %> <br>
    <strong>Alignment:</strong>
    <%= @character.alignment %> <br>
    <strong>Size:</strong>
    <%= @character.size %> <br>
    <strong>Speed:</strong>
    <%= @character.speed %> <br>
    <strong>Language:</strong>
    <%= @character.language1 %> 
    <%= @character.language2 %> 
    <%= @character.language3 %> <br>
    <strong>Dark Vision:</strong>
    <%= @character.darkVision %> <br>
    <strong>Weapon Proficeincy:</strong>
    <%= @character.weaponProf %> <br>
    <strong>Proficeincy:</strong>
    <%= @character.prof %> <br>
    <strong>Ability 1:</strong>
    <%= @character.extraAbility1 %> <br>
    <strong>Ability 2:</strong>
    <%= @character.extraAbility2 %> <br>
    <strong>Ability 3:</strong>
    <%= @character.extraAbility3 %> <br>
    <strong>Ability 4:</strong>
    <%= @character.extraAbility4 %> <br>
    <strong>Abilitie 5:</strong>
    <%= @character.extraAbility5 %> <br>
    <strong>Hit Dice:</strong>
    <%= @character.hitDice%> <br>
    <strong>Primary Ability:</strong>
    <%= @character.primaryAbility%> <br>
    <strong>Saving Throws:</strong>
    <%= @character.savingThrow1%> 
    <%= @character.savingThrow2%> <br>
    <strong>Preferences:</strong>
    <%= @character.armorPref%> 
    <%= @character.weaponPref%> <br>
    <strong>Proficeincy Bonus:</strong>
    <%= @character.profBonus%> <br>
    <strong>Skills:</strong>
    <%= @character.skills%> <br>
    <strong>Equipment:</strong>
    <%= @character.startingEquip%> <br>
    <strong>Spell Slots:</strong>
    <%= @character.spellSlots%> <br>
    <strong>Spells:</strong>
    <%= @character.spells%> <br>
    <strong>Cantrips:</strong>
    <%= @character.cantrip%> <br>
</p>
