<table>
    <tr>
        <td><% if current_user %>
            <% if current_user.id == @character.user_id %>
                <%= link_to 'Edit', edit_character_path(@character) %>
        </td>
        <td>
                <%= link_to 'Delete', character_path(@character),
                              method: :delete,
                              data: { confirm: 'Are you sure?' } %>
            <% end %>
            <% end %>
        </td>
    </tr>
</table>

<p>
    <strong>Name:</strong>
    <%= @character.name %><br>
    <strong>Job:</strong>
    <%= @character.job.name if @character.job %> <br>
    <strong>HP:</strong>
    <%= @character.hp %><br>
    <strong>Strength:</strong>
    <%= @character.strength %> <br>
    <strong>Dexterity:</strong>
    <%= @character.dexterity  %> <br>
    <strong>Constitution:</strong>
    <%= @character.constitution %><br>
    <strong>Intelligence:</strong>
    <%= @character.intelligence  %> <br>
    <strong>Wisdom:</strong>
    <%= @character.wisdom %><br>
    <strong>Charisma:</strong>
    <%= @character.charisma %>
</p>
